body {
  @include fluid-text(17, 15);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  @include fluid-text(50, 43);
}

h2 {
  @include fluid-text(40, 36);
}
h3 {
  @include fluid-text(30, 26);
}
h4 {
  @include fluid-text(20, 18);
}
