.product__main {
  display: flex;
  width: 100%;
  height: 1040px;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 5rem;
}
.product__photos {
  width: 645px;
}
.product__photos-main {
  width: 100%;
  height: 860px;
  object-fit: cover;
}
.product__photos-thumbnails {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 15px;
}
.product__photos-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.product__info {
  max-width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__info-title {
  max-width: 460px;
}
.product__info-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product__info-label {
  font-weight: 700;
  font-size: 17px;
}

.product__info-select {
  width: 100%;
}

.product__info-quantity {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.product__info-addToCart {
  width: 100%;
}

.product__texts-choose {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding-bottom: 2rem;
}
.product__texts-details {
  display: none;
  padding-bottom: 3rem;
}
.product__texts-details.active {
  display: block;
}

.product__texts-title {
  font-weight: 700;
  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }
  &.active {
    border-bottom: 4px solid var(--color-accent);
  }
}
.product__texts-reviews {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding-bottom: 3rem;
}

.product__texts-reviews.active {
  display: grid;
}

.product__texts-review {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__texts-review-person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.product__texts-reviews-right {
  width: 100%;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-inputs {
    display: flex;

    gap: 1rem;
  }

  &-input,
  &-textarea {
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
  }
}

.product__texts-review-rating {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.product__mayAlsoLike {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__mayAlsoLike-title {
  border-bottom: 4px solid var(--color-accent);
  width: fit-content;
}

.product__mayAlsoLike-viewport {
  width: 100%;
  overflow: hidden;
}

.product__mayAlsoLike-cards {
  display: flex;
  gap: 2rem;
  width: 100%;
}
.product__mayAlsoLike-card {
  display: grid;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 0 0 calc((100% - 3 * 2rem) / 4);
  flex-shrink: 0;
}

.product__mayAlsoLike-card__image {
  position: relative;
  .btn {
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 54px;
    min-height: 30px;
    font-size: 12px;
    font-weight: 700;
    padding: 0;
    &:hover {
      background-color: var(--color-accent);
      transform: none;
    }
    &:disabled {
      background-color: var(--color-accent);
      cursor: default;
    }
  }
}

.product__mayAlsoLike-card__info {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 210px;
  justify-content: space-between;
}
.product__mayAlsoLike-card__title,
.product__mayAlsoLike-card__price {
  font-weight: 700;
  font-size: 19px;
  max-width: 250px;
}

.product__mayAlsoLike-card__btn {
  max-width: 160px;
}
