<footer class="footer">
  <div class="footer__benefits container">
    <p class="footer__benefits-title">Our Benefits</p>
    <div class="footer__benefits-items">
      <div class="footer__benefits-item">
        <img
          src="/src/assets/images/benefits1.svg"
          alt="Benefit"
          class="item__image"
          width="60"
          height="60"
          loading="lazy"
        />
        <p class="item__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
      <div class="footer__benefits-item">
        <img
          src="/src/assets/images/benefits2.svg"
          alt="Benefit"
          class="item__image"
          width="60"
          height="60"
          loading="lazy"
        />
        <p class="item__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
      <div class="footer__benefits-item">
        <img
          src="/src/assets/images/benefits3.svg"
          alt="Benefit"
          class="item__image"
          width="60"
          height="60"
          loading="lazy"
        />
        <p class="item__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
      <div class="footer__benefits-item">
        <img
          src="/src/assets/images/benefits4.svg"
          alt="Benefit"
          class="item__image"
          width="60"
          height="60"
          loading="lazy"
        />
        <p class="item__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
  <div class="footer__top container">
    <div class="footer__about">
      <div class="footer__columns">
        <div class="footer__column">
          <a href="/src/html/about.html"
            ><p class="footer__subtitle">About Us</p></a
          >
          <ul class="footer__list">
            <li class="footer__list-item">Organization</li>
            <li class="footer__list-item">Partners</li>
            <li class="footer__list-item">Clients</li>
          </ul>
        </div>
        <div class="footer__column">
          <p class="footer__subtitle">Intercesting Links</p>
          <ul class="footer__list">
            <li class="footer__list-item">Photo Gallery</li>
            <li class="footer__list-item">Our Team</li>
            <li class="footer__list-item">Socials</li>
          </ul>
        </div>
        <div class="footer__column">
          <p class="footer__subtitle">Achievements</p>
          <ul class="footer__list">
            <li class="footer__list-item">Winning Awards</li>
            <li class="footer__list-item">Press</li>
            <li class="footer__list-item">Our Amazing Clients</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__shipping">
      <p class="footer__subtitle">Shipping Information</p>
      <p class="footer__text">
        Nulla eleifendi pulvinar purus, molestie euismod odio imperdiet ac. Ut
        sit amet erat nec nibh rhoncus varius in non leven. Donec interdum,
        lectus in convallis pulvinar, enim elit porta sapien, vel finibus erat
        felis sed neque. Etiam aliquet neque sagittis erat tincidunt aliquam.
      </p>
    </div>

    <div class="footer__contact">
      <a href="/src/html/contact.html"
        ><p class="footer__subtitle">Contact Us</p></a
      >
      <p class="footer__text">
        Bendum dolor eu varius. Morbi fermentum velitocolates egetonce. volutpat
        orci. Sed ipsum felis, tristique egestas et, convallis ac vethn
        consequat nec luctus.
      </p>
      <div class="footer__contact-info">
        <div class="footer__contact-item">
          <a href="" class="footer__icon icon">
            <img
              src="/src/assets/images/phone.svg"
              alt="Phone"
              class="icon__image"
              width="24"
              height="24"
              loading="lazy"
            />
          </a>
          <span class="footer__contact-text">Phone: (+63) 236 6322</span>
        </div>
        <div class="footer__contact-item">
          <a href="" class="footer__icon icon">
            <img
              src="/src/assets/images/post.svg"
              alt="Post"
              class="icon__image"
              width="24"
              height="24"
              loading="lazy"
            />
          </a>
          <span class="footer__contact-text">public@news.com</span>
        </div>
        <div class="footer__contact-item">
          <a href="" class="footer__icon icon">
            <img
              src="/src/assets/images/clock.svg"
              alt="Clock"
              class="icon__image"
              width="24"
              height="24"
              loading="lazy"
            />
          </a>
          <div class="footer__contact-group">
            <span class="footer__contact-text">Mon - Fri: 10am - 6pm</span>
            <span class="footer__contact-text">Sat - Sun: 10am - 6pm</span>
          </div>
        </div>

        <div class="footer__contact-item">
          <a href="" class="footer__icon icon">
            <img
              src="/src/assets/images/map-pin.svg"
              alt="Map pin"
              class="icon__image"
              width="24"
              height="24"
              loading="lazy"
            />
          </a>
          <span class="footer__contact-text"
            >639 Jade Valley, Washington Do</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom container">
    <div class="footer__copyright">
      <p class="footer__copyright-text">© Copyright 2025</p>
    </div>
  </div>
</footer>
