<form class="login-form form">
  <label for="logIn-email" class="login-label">Email address *</label>
  <input
    id="logIn-email"
    type="text"
    class="login-input-email"
    placeholder="Your email *"
  />
  <label for="logIn-password" class="login-label">Password *</label>
  <input
    id="logIn-password"
    type="password"
    class="login-input-password"
    placeholder="Your password *"
  />
  <div class="login-remember checkbox">
    <input type="checkbox" id="remember-me" />
    <label for="remember-me">Remember me</label>
  </div>
  <p class="login-forgot">Forgot your password?</p>
  <button type="submit" class="login-btn btn">Log In</button>
</form>
