.about__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 554px;
  margin-bottom: 60px;

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/src/assets/images/aboutUs.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about__hero-title {
  color: var(--color-light);
  font-weight: 700;
  text-align: center;
}

.about__hero-subtitle {
  max-width: 430px;
  font-size: 17px;
  font-weight: 400;
  color: var(--color-light);
  text-align: center;
  line-height: 1.6;
  text-wrap: wrap;
}

.about__features {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  gap: 2rem;
}

.about__feature-card {
  max-width: 260px;
  text-align: center;
}

.about__feature-card-title {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-dark);
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.about__feature-card-text {
  font-size: 17px;
  line-height: 1.6;
  color: var(--color-dark);
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.about__arrivals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 80px;
  max-height: 353px;
  gap: 1rem;
}

.about__arrivals-title {
  grid-column: 1;
  font-weight: 900;
  color: var(--color-dark);
  margin: 0 0 20px;
}

.about__arrivals-text {
  grid-column: 1;
  font-size: 17px;
  line-height: 1.6;
  color: var(--color-dark);
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 10px;
  }
}

.about__arrivals-button {
  grid-column: 1;
  max-width: 200px;
  font-size: 18px;
}

.about__arrivals-image {
  grid-column: 2;
  grid-row: 1 / span 4;
  justify-self: end;
}

.about__team {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  width: 100%;
  padding-bottom: 80px;
}

.about__team-title {
  grid-column: 2;
  text-align: center;
  font-weight: 900;
  padding-bottom: 10px;
  margin-bottom: 60px;
  border-bottom: 4px solid var(--color-accent);
}

.about__team-member {
  grid-row: 2;
  text-align: center;
}
.about__team-member-name {
  font-weight: 700;
  font-size: 22px;
}
.about__team-member-position {
  font-size: 17px;
}

.about__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;

  width: 100%;
  height: 407px;
  margin-bottom: 80px;

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/src/assets/images/aboutBanner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about__banner-text {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-light);
  margin-bottom: 10px;
}

.about__banner-discount {
  font-size: 223px;
  font-weight: 700;
  color: var(--color-light);
  line-height: 1;
  margin: 0;
}

.about__banner-title {
  color: var(--color-light);
}

.about__banner-subtitle {
  color: var(--color-light);
  max-width: 393px;
  text-wrap: wrap;
}
