.catalog {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 2rem;
  padding-bottom: 50px;
}

.catalog__toprow {
  grid-column: 1 / span 2;
  grid-row: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.catalog__toprow-showing {
  font-size: 16px;
}

.catalog__toprow-inputs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.catalog__search-wrapper {
  grid-column: 2;
  grid-row: 1;
}

.catalog__search {
  width: 340px;
}

.catalog__items {
  grid-column: 1;
  grid-row: 2;

  display: grid;
  grid-template-columns: repeat(3, 296px);
  gap: 2rem;
}

.catalog__item {
  display: grid;
  gap: 1rem;
  width: 296px;

  align-items: center;
  text-align: center;
}

.catalog__item-image {
  position: relative;

  .btn {
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 54px;
    min-height: 30px;
    font-size: 12px;
    font-weight: 700;
    padding: 0;

    &:hover {
      background-color: var(--color-accent);
      transform: none;
    }
    &:disabled {
      background-color: var(--color-accent);
      cursor: default;
    }
  }
}

.catalog__item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: 210px;
}

.catalog__item-title,
.catalog__item-price {
  font-weight: 700;
  font-size: 19px;
  max-width: 250px;
}

.catalog__card-btn {
  max-width: 160px;
}

.catalog__pagination {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

  button {
    padding: 10px 18px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;

    &:hover {
      background: var(--color-accent);
      color: white;
    }

    &.active {
      background: var(--color-accent);
      color: white;
      cursor: default;
    }
  }
}

.catalog__bestsets {
  grid-column: 2;
  grid-row: 2;
}

.catalog__bestsets-item {
  display: flex;
  margin-bottom: 1rem;
}

.catalog__bestsets-title {
  font-size: 17px;
  font-weight: 700;
}

.catalog__bestsets-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: center;
}

.catalog__bestsets-item-name,
.catalog__bestsets-item-price {
  font-size: 15px;
  max-width: 220px;
}
