.contact {
  &__hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/src/assets/images/contactUs.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
    width: 100vw;
    height: 554px;
  }

  &__hero-title {
    font-weight: 700;
    color: var(--color-light);
    text-align: center;
  }

  &__hero-subtitle {
    font-size: 17px;
    font-weight: 400;
    color: var(--color-light);
    text-align: center;
    text-wrap: wrap;
    max-width: 430px;
    line-height: 1.6;
  }

  &__container {
    width: 100%;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  &__info-card {
    max-width: 260px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__info-card-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-dark);
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 15px;
  }

  &__info-card-text {
    font-size: 17px;
    line-height: 1.6;
    color: var(--color-dark);
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
    height: 700px;
    padding-bottom: 80px;
  }

  &__feedback-image {
    flex-shrink: 0;
  }

  &__form {
    width: 100%;
    max-width: 630px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-title {
      font-weight: 700;
      font-size: 25px;
    }

    &-subtitle {
      max-width: 100%;
      color: var(--color-dark);
    }

    &-label {
      font-weight: 500;
      color: var(--color-dark);
    }

    &-input,
    &-textarea,
    &-select {
      width: 100%;
      box-sizing: border-box;
      max-width: 100%;
    }

    &-textarea {
      min-height: 120px;
      resize: vertical;
    }

    &-button {
      align-self: flex-start;
      width: 90px;
    }
  }
}
