@import "abstracts/variables", "abstracts/mixins", "abstracts/media",
  "base/reset", "base/fonts", "layouts/header", "layouts/footer",
  "components/buttons", "components/forms", "components/product-card",
  "components/utils", "components/globals", "pages/about", "pages/cart",
  "pages/catalog", "pages/product-details", "pages/contact", "pages/homepage";
